* {
  margin: 0;
  padding: 0; }

body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  body * {
    transform-style: preserve-3d; }

label {
  color: white;
  padding: 10px;
  display: block;
  text-align: center;
  font-family: arial; }

input {
  box-sizing: border-box; }

.earth {
  position: relative;
  perspective: 999999999em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }

.slice {
  height: 0;
  position: absolute;
  background: red !important;
  transform-origin: left;
  left: 100%; }

.block {
  background-image: url("https://picsum.photos/2000/2000");
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  color: black;
  left: 0%;
  width: 100%; }

.hemisphere {
  display: flex;
  justify-content: left; }
  .hemisphere > .slice {
    left: initial;
    transform: rotateX(0deg); }
  .hemisphere.northern-hemisphere {
    align-items: end; }
    .hemisphere.northern-hemisphere .block {
      bottom: 100%;
      transform-origin: bottom; }
  .hemisphere.southern-hemisphere .block {
    top: 100%;
    transform-origin: top; }

.circle {
  display: none;
  width: 1270px;
  height: 1270px;
  background: red;
  border-radius: 50%;
  position: absolute; }
