* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: -webkit-grab;

  * {
    transform-style: preserve-3d;
  }
}

body:active {
  cursor: -webkit-grabbing;
}

.sphere {
  flex: auto;
  position: relative;
  perspective: 999999999em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateX(0deg) rotateY(0deg) scale3d(3, 3, 3);

  &.plan {
    transform: none !important;
    align-items: flex-start;

    * {
      transform: none !important;
    }
  }
}

.slice {
  height: 0;
  position: absolute;
  background: red !important;
  transform-origin: left;
  left: 100%;
}

.block {
  background-image: url("images/interrupted-sinusoidal-24-no-graticule.svg");
  background-repeat: no-repeat;
  //background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  position: absolute;
  //box-shadow: 0 0 2px rgb(255, 0, 0);
  color: black;
  left: 0%;
  width: 100%;
}

.hemisphere {
  display: flex;
  justify-content: left;

  > .slice {
    left: initial;
    transform: rotateX(0deg);
  }

  &.northern-hemisphere {
    align-items: end;

    .block {
      bottom: 100%;
      transform-origin: bottom;
    }
  }

  &.southern-hemisphere {
    .block {
      top: 100%;
      transform-origin: top;
    }
  }
}
