* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  * {
    transform-style: preserve-3d;
  }
}

label {
  color: white;
  padding: 10px;
  display: block;
  text-align: center;
  font-family: arial;
}

input {
  box-sizing: border-box;
}

.earth {
  flex: auto;
  position: relative;
  perspective: 999999999em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(3, 3, 3);
}

.slice {
  height: 0;
  position: absolute;
  background: red !important;
  transform-origin: left;
  left: 100%;
}

.block {
  //background-image: url("images/globe.png");
  background-image: url("images/interrupted-sinusoidal-12.svg");
  //background-image: url("https://picsum.photos/2000/2000");
  //background-image: url("image.jpg");
  background-repeat: no-repeat;
  width: 100%;
  //box-shadow: 0 0 0 1px rgb(0, 0, 0);
  position: absolute;
  color: black;
  left: 0%;
  width: 100%;
}

.hemisphere {
  display: flex;
  justify-content: left;

  > .slice {
    //position: initial;
    left: initial;
    transform: rotateX(0deg);
  }

  &.northern-hemisphere {
    align-items: end;

    .block {
      bottom: 100%;
      transform-origin: bottom;
    }
  }

  &.southern-hemisphere {
    .block {
      top: 100%;
      transform-origin: top;
    }
  }
}

.circle {
  display: none;
  width: 1270px;
  height: 1270px;
  background: rgba(255, 0, 0, 1);
  border-radius: 50%;
  position: absolute;
}
