* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: white;
  padding: 10px;
  display: block;
  text-align: center;
  font-family: arial;
}

input {
  box-sizing: border-box;
}

.earth {
  position: relative;
  perspective: 999999999em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  * {
    transform-style: preserve-3d;
  }
}

.slice {
  height: 0;
  position: absolute;
  background: red !important;
  transform-origin: left;
  left: 100%;
}

.block {
  //background-image: url("globo.png");
  //background-image: url("https://picsum.photos/1000/1000");
  background-repeat: no-repeat;
  width: 100%;
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 1);
  position: absolute;
  color: white;
  left: 0%;
  width: 100%;
}

.hemisphere {
  display: flex;
  justify-content: center;

  > .slice {
    //position: initial;
    left: initial;
    transform: rotateX(0deg);
  }

  &.northern-hemisphere {
    align-items: end;

    .block {
      bottom: 100%;
      transform-origin: bottom;
    }
  }

  &.southern-hemisphere {
    .block {
      top: 100%;
      transform-origin: top;
    }
  }
}

.circle {
  width: 1220px;
  height: 1220px;
  background: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
}
